.body {
    background-color: red;
<<<<<<< HEAD
    animation: putar 3s ease-in-out infinite;
}

@keyframes putar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
=======
}

.text-hello {
    color: blue;
    font-weight: bold;
}

.text-p {
    align-items: center;
    color: gray;
}

.container {
    width: 100%;
    border-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container span {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
>>>>>>> refs/remotes/origin/main
}