.body {
    background-color: red;
    animation: putar 3s ease-in-out infinite;
}

@keyframes putar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-hello {
    color: red;
    font-weight: bold;
}

.container-fluid {
    width: 100vw;
}

.container {
    width: 80vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.container img{
    width: 20%;
}